body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #232c61;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.test-wrap-svg-box-index-page {
  position: relative !important;
}

.test-wrap-svg-box-index-page .test-circle-box {
  position: absolute;
}

.test-wrap-svg-box-index-page .test-circle-box .progress-ring .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.test-wrap-svg-box-index-page .test-circle-box .progress-ring .progress-ring-dash {
  stroke-dasharray: 2 50;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.test-wrap-svg-box-index-page .test-svg-box {
  width: 120px;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: conic-gradient(#f6236f 0%, #ffd231 33.33%, #59dca5 68.23%, #00a4ac 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.test-wrap-svg-box-index-page .test-svg-box .test-svg-box-inner {
  width: 85px;
  height: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323e71;
  border-radius: 50%;
}

.test-wrap-svg-box-index-page .text {
  font-size: 25px !important;
}

.modal-body {
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
}

.modal-body .modal-body-content {
  padding: 20px;
}

@media screen and (max-width: 920px) {
  .modal-body .modal-body-content {
    padding: 5px;
  }
}

.modal-body .modal-body-content .top-info .right-item a {
  padding: 5px 10px;
  border: 2px solid #48b7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
  text-decoration: none;
}

.modal-body .modal-body-content .top-info .right-item a:hover {
  background-color: #48b7c7;
}

.modal-body .modal-body-content .under-info .left-item {
  position: relative;
}

.modal-body .modal-body-content .under-info .left-item .center-text {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: lightgrey;
  font-size: 8px;
  text-align: center;
}

.modal-body .modal-body-content .under-info .left-item .progress-ring .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.modal-body .modal-body-content .under-info .left-item .progress-ring .progress-ring-dash {
  stroke-dasharray: 2 50;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.modal-body .modal-body-content .under-info .right-item h6 {
  text-transform: uppercase;
  color: #d5cfcf;
}

@media screen and (max-width: 920px) {
  .modal-body .modal-body-content .under-info .right-item h6 {
    font-size: 14px;
  }
}

.modal-body .modal-body-content .under-info .right-item p {
  color: white;
}

@media screen and (max-width: 920px) {
  .modal-body .modal-body-content .under-info .right-item p {
    font-size: 14px;
  }
}

.custom-container {
  width: 100%;
  padding: 0 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 768px) {
  .custom-container {
    padding: 0 24px;
  }
}

.header-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/8fec938e83297ba755e74de77ca49f25.jfif");
  background-attachment: fixed;
}

.header-bg-image .header-bg-gradient {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(298.43deg, rgba(43, 79, 169, 0.7) 0%, rgba(17, 149, 141, 0.8) 100%);
}

.header-bg-image .header-bg-gradient .mix-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.02)), to(#232c61));
  background: linear-gradient(rgba(0, 0, 0, 0.02), #232c61);
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbar {
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 25px 64px !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .navbar {
    padding: 15px 24px !important;
  }
}

.navbar {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggler {
  border: 2px solid #48b7c7;
}

.navbar .navbar-toggler i {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.navbar .nav-link {
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 0 !important;
  margin-left: 25px;
}

.navbar .nav-link:hover {
  color: #48b7c7 !important;
}

@media all and (max-width: 900px) {
  .navbar .nav-link {
    margin: 10px !important;
  }
}

.navbar .with-border {
  border: 2px solid #48b7c7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
}

.navbar .with-border:hover {
  color: #48b7c7 !important;
}

.home-bg-repeat {
  background-image: url("../assets/images/bg-repeat.jpg");
}

footer {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 25px 0;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
}

.home-page-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
}

.home-page-header h3 {
  color: white;
  font-size: 44px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

.home-page-header h5 {
  text-align: center;
  margin: 24px 0px;
  font-weight: 600;
  font-size: 28px;
  color: white;
}

.home-page-section-one {
  position: relative;
}

.home-page-section-one .mix-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.02)), to(#232c61));
  background: linear-gradient(rgba(0, 0, 0, 0.02), #232c61);
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: -50px;
  z-index: -1;
}

.home-page-section-one a {
  text-decoration: none;
}

.home-page-section-one .inner-item {
  height: 370px;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page-section-one .inner-item .under-info p:nth-child(1) {
  font-size: 16px;
}

.home-page-section-one .inner-item .under-info p:nth-child(2) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.home-page-section-one .inner-item .under-info .last-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page-section-one .inner-item .under-info .last-info a {
  width: 150px;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid rgba(177, 224, 231, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.home-page-section-one .inner-item .under-info .last-info a:hover {
  color: #48b7c7;
  border-color: #48b7c7;
}

@media screen and (max-width: 920px) {
  .home-page-section-one {
    display: none;
  }
}

.home-page-section-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .home-page-section-map {
    margin: 50px 0;
  }
}

#qoraqalpoq:hover,
#xorazim:hover,
#sirdayro:hover,
#andijon:hover,
#navoi:hover,
#samarqand:hover,
#namangan:hover,
#buxoro:hover,
#surxondaryo:hover,
#toshkent-sh:hover,
#jizzax:hover,
#toshkent:hover,
#qashqadaryo:hover {
  cursor: pointer;
}

.top-sub-header .left-item h3 {
  color: white;
  font-size: 32px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .top-sub-header .left-item h3 {
    font-size: 18px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.home-page-section-last .under-sub-info a {
  text-decoration: none;
}

.home-page-section-last .under-sub-info .inner-item {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page-section-last .under-sub-info .inner-item a {
  text-decoration: none;
}

.home-page-section-last .under-sub-info .inner-item .left-info {
  width: 30%;
  height: inherit;
}

.home-page-section-last .under-sub-info .inner-item .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item .left-info {
    width: 100%;
    height: 50%;
  }
}

.home-page-section-last .under-sub-info .inner-item .right-info {
  width: 50%;
}

.home-page-section-last .under-sub-info .inner-item .right-info p:nth-child(2) {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item .right-info {
    width: 100%;
    height: 50%;
  }
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 920px) {
  .home-page-section-last {
    display: none;
  }
}

.other-page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  z-index: -1;
  background-image: url("../assets/images/bg-repeat.jpg");
}

.news-page-body {
  margin: 100px 0;
}

.news-page-body .under-sub-info .inner-item {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-page-body .under-sub-info .inner-item .left-info {
  width: 30%;
  height: inherit;
}

.news-page-body .under-sub-info .inner-item .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item .left-info {
    width: 100%;
    height: 50%;
  }
}

.news-page-body .under-sub-info .inner-item .right-info {
  width: 50%;
}

.news-page-body .under-sub-info .inner-item .right-info p:nth-child(2) {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item .right-info {
    width: 100%;
    height: 50%;
  }
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-page-body .under-pagination-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-page-body .under-pagination-wrap .page-link {
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  border: 2px solid transparent;
}

.news-page-body .under-pagination-wrap .page-link:hover {
  color: #48b7c7;
  border: 2px solid #48b7c7;
}

.news-info-page-body {
  margin: 100px 0;
}

.news-info-page-body .top-back-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-info-page-body .top-back-btn-wrap a {
  color: #1a1d33;
  font-weight: bold;
  font-size: 16px;
  background-color: #48b7c7;
  padding: 10px 20px;
}

.news-info-page-body .under-info {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
}

.news-info-page-body .under-info img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-info-page-body .under-info .inner-news-info {
  padding: 35px;
}

.news-info-page-body .under-info .inner-news-info .news-title h3 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.news-info-page-body .under-info .inner-news-info .news-body p {
  color: rgba(255, 255, 255, 0.8);
}

.news-info-page-body .under-info .inner-news-info .news-footer p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.news-info-page-body .under-info .inner-news-info .news-footer p a {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .news-info-page-body .under-info .inner-news-info {
    padding: 15px;
  }
}

.lang-drop i {
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.lang-drop:hover {
  color: #00a4ac;
}

.lang-drop:hover i {
  color: #00a4ac;
}

.dropdown-menu {
  min-width: 4rem !important;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.dropdown-toggle::after {
  color: white;
}

.methodology-page {
  margin: 100px 0;
}

.methodology-page .top-sub-header p {
  color: rgba(255, 255, 255, 0.6);
}

.methodology-page .method-content h3 {
  color: #48b7c7;
}

.methodology-page .method-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /* BG/gradient */
  text-decoration: none;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  padding: 20px;
}

.methodology-page .method-content a p {
  color: white;
}

.home-page-news-slider {
  display: none;
}

.home-page-news-slider .item a {
  text-decoration: none;
}

.home-page-news-slider .inner-item {
  background-color: red;
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page-news-slider .inner-item a {
  text-decoration: none;
}

.home-page-news-slider .inner-item .left-info {
  width: 30%;
  height: inherit;
}

.home-page-news-slider .inner-item .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1200px) {
  .home-page-news-slider .inner-item .left-info {
    width: 100%;
    height: 50%;
  }
}

.home-page-news-slider .inner-item .right-info {
  width: 50%;
}

.home-page-news-slider .inner-item .right-info p:nth-child(2) {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 1200px) {
  .home-page-news-slider .inner-item .right-info {
    width: 100%;
    height: 50%;
  }
}

@media all and (max-width: 1200px) {
  .home-page-news-slider .inner-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-page-news-slider .inner-item-first {
  height: 288px;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page-news-slider .inner-item-first a {
  text-decoration: none;
}

.home-page-news-slider .inner-item-first .under-info p:nth-child(1) {
  font-size: 16px;
}

.home-page-news-slider .inner-item-first .under-info p:nth-child(2) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.home-page-news-slider .inner-item-first .under-info .last-info a {
  padding: 5px 10px;
  border: 2px solid rgba(177, 224, 231, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.home-page-news-slider .inner-item-first .under-info .last-info a:hover {
  color: #48b7c7;
  border-color: #48b7c7;
}

@media screen and (max-width: 920px) {
  .home-page-news-slider .inner-item-first {
    height: auto;
  }
}

@media screen and (max-width: 920px) {
  .home-page-news-slider {
    display: block;
  }
}

.region-page .top-back-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-page .top-back-btn-wrap a {
  color: #1a1d33;
  font-weight: bold;
  font-size: 16px;
  background-color: #48b7c7;
  padding: 10px 20px;
}

.region-page .top-sub-header .inner-sub-header .left-item h3 {
  color: white;
  font-size: 32px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .region-page .top-sub-header .inner-sub-header .left-item h3 {
    font-size: 18px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.region-page .top-sub-header .inner-sub-header .right-item button {
  border: 2px solid grey;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
}

.region-page .top-sub-header .inner-sub-header .right-item button i {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.region-page .top-sub-header .inner-sub-header .right-item button:hover {
  cursor: inherit;
}

@media screen and (max-width: 768px) {
  .region-page .top-sub-header .inner-sub-header .right-item button {
    padding: 5px 8px;
  }
}

.region-page .region-body .test-wrap-svg-box {
  position: relative !important;
}

.region-page .region-body .test-wrap-svg-box .test-circle-box {
  position: absolute;
}

.region-page .region-body .test-wrap-svg-box .test-svg-box {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: conic-gradient(#f6236f 0%, #ffd231 33.33%, #59dca5 68.23%, #00a4ac 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.region-page .region-body .test-wrap-svg-box .test-svg-box .test-svg-box-inner {
  width: 110px;
  height: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323e71;
  border-radius: 50%;
}

.region-page .region-body .progress-ring .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.region-page .region-body .progress-ring .progress-ring-dash {
  stroke-dasharray: 2 50;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-92deg);
          transform: rotate(-92deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.region-page .region-body .reagion-card-carousel .slide-item {
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
}

.region-page .region-body .reagion-card-carousel .slide-item p {
  color: rgba(255, 255, 255, 0.6);
}

.region-page .region-body .reagion-card-carousel .slide-item .circle-progress-item-number {
  position: relative;
}

.region-page .region-body .reagion-card-carousel .slide-item .circle-progress-item-number .number {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fed960;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

.region-page .region-body .test-line-progressbar .father-progress-box {
  background-color: red !important;
}

.region-page .region-body .test-line-progressbar .father-progress-box:nth-child(2n-1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.region-page .region-body .test-line-progressbar .father-progress-box:nth-child(2n-1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.region-page .region-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .region-page .region-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.region-page .region-body .test-line-progressbar .progres-box .top-info-progress .left-title:hover {
  cursor: pointer;
}

.region-page .region-body .test-line-progressbar .progres-box .top-info-progress .right-info {
  font-size: 25px;
}

.region-page .region-body .test-line-progressbar .progres-box .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-page .region-body .test-line-progressbar .progres-box .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.region-page .region-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.region-page .region-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.region-page .region-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.region-page .region-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info {
  display: none;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .region-page .region-body .test-line-progressbar .under-progress-box-info .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .top-info-progress .left-title:hover {
  cursor: pointer;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .top-info-progress .right-info {
  font-size: 25px;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.region-page .region-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.region-page .text {
  font-size: 30px;
}

.rating-page .top-back-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-page .top-back-btn-wrap a {
  color: #1a1d33;
  font-weight: bold;
  font-size: 16px;
  background-color: #48b7c7;
  padding: 10px 20px;
}

.rating-page .year-select {
  background-color: transparent;
  color: white;
  border-radius: 0 !important;
  border: 2px solid lightgrey;
  height: 50px;
}

.rating-page .year-select option {
  color: #1a1d33;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 40px !important;
}

.rating-page .rating-body .map-with-owl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rating-page .rating-body .map-with-owl .left-map {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-page .rating-body .map-with-owl .left-map svg {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .rating-page .rating-body .map-with-owl .left-map {
    width: 100%;
  }
}

.rating-page .rating-body .map-with-owl .right-owl {
  width: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .rating-page .rating-body .map-with-owl .right-owl {
    width: 100%;
  }
}

.rating-page .rating-body .map-with-owl .right-owl .slide-item {
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .rating-page .rating-body .map-with-owl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rating-page .rating-body .progress-blur-wrap-box {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 50px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media only screen and (max-width: 768px) {
  .rating-page .rating-body .progress-blur-wrap-box {
    padding: 30px;
  }
}

.rating-page .rating-body .progress-blur-wrap-box .top-sub-header .inner-sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rating-page .rating-body .progress-blur-wrap-box .top-sub-header .inner-sub-header .left-item h3 {
  color: white;
  font-size: 32px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .rating-page .rating-body .progress-blur-wrap-box .top-sub-header .inner-sub-header .left-item h3 {
    font-size: 18px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.rating-page .rating-body .progress-blur-wrap-box .top-sub-header .inner-sub-header .right-item a {
  display: block;
  text-decoration: none;
  border: 2px solid #48b7c7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
}

.rating-page .rating-body .progress-blur-wrap-box .top-sub-header .inner-sub-header .right-item a:hover {
  color: #48b7c7 !important;
}

.rating-page .rating-body .rating-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rating-page .rating-body .rating-table table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.rating-page .rating-body .rating-table table thead tr th {
  font-weight: 600 !important;
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.6);
}

.rating-page .rating-body .rating-table table tbody tr th {
  background: rgba(255, 255, 255, 0.05);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.rating-page .rating-body .rating-table table tbody tr td:nth-child(2) {
  background: rgba(255, 255, 255, 0.05);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.rating-page .rating-body .rating-table table thead {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.rating-page .rating-body .test-wrap-svg-box {
  position: relative !important;
}

.rating-page .rating-body .test-wrap-svg-box .test-circle-box {
  position: absolute;
}

.rating-page .rating-body .test-wrap-svg-box .test-svg-box {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: conic-gradient(#f6236f 0%, #ffd231 33.33%, #59dca5 68.23%, #00a4ac 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rating-page .rating-body .test-wrap-svg-box .test-svg-box .test-svg-box-inner {
  width: 110px;
  height: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323e71;
  border-radius: 50%;
}

.rating-page .rating-body .progress-ring .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rating-page .rating-body .progress-ring .progress-ring-dash {
  stroke-dasharray: 2 50;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-92deg);
          transform: rotate(-92deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rating-page .rating-body .reagion-card-carousel .slide-item {
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
}

.rating-page .rating-body .reagion-card-carousel .slide-item p {
  color: rgba(255, 255, 255, 0.6);
}

.rating-page .rating-body .reagion-card-carousel .slide-item .circle-progress-item-number {
  position: relative;
}

.rating-page .rating-body .reagion-card-carousel .slide-item .circle-progress-item-number .number {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fed960;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4:hover {
  cursor: pointer;
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 .progress-inner-left-number {
  position: relative;
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 .progress-inner-left-number .number-circle {
  position: absolute;
  z-index: 2;
  color: gold;
  left: 43%;
  top: 58%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .left-title h4 .progress-inner-left-number .number-circle {
    top: 50%;
    font-size: 20px;
  }
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .right-info {
  font-size: 25px;
}

.rating-page .rating-body .test-line-progressbar .progres-box .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-page .rating-body .test-line-progressbar .progres-box .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.rating-page .rating-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.rating-page .rating-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating-page .rating-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.rating-page .rating-body .test-line-progressbar .progres-box .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  display: none;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .top-info-progress .left-title h5 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .rating-page .rating-body .test-line-progressbar .under-progress-box-info .top-info-progress .left-title h5 {
    font-size: 16px;
  }
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .top-info-progress .right-info {
  font-size: 25px;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.rating-page .rating-body .test-line-progressbar .under-progress-box-info .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.rating-page .text {
  font-size: 35px !important;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.login-page .logo {
  position: absolute;
  top: 50px;
  left: 64px;
}

@media only screen and (max-width: 768px) {
  .login-page .logo {
    top: 50px;
    left: 20px;
  }
}

.login-page .lang-btn {
  position: absolute;
  right: 64px;
  top: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid #48b7c7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .login-page .lang-btn {
    top: 50px;
    right: 20px;
  }
}

.login-page h3 {
  font-size: 32px;
}

.login-page p {
  color: rgba(255, 255, 255, 0.6);
}

.login-page form .input-box {
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-page form .input-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

.login-page form .input-box input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.login-page form .input-box input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.login-page form .input-box input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.login-page form .input-box input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.login-page form .submit-btn {
  background-color: transparent;
  color: white;
  border: 2px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.indicator-page .top-sub-header .right-item button {
  border: 2px solid grey;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
}

.indicator-page .top-sub-header .right-item button i {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.indicator-page .top-sub-header .right-item button:hover {
  cursor: inherit;
}

@media screen and (max-width: 768px) {
  .indicator-page .top-sub-header .right-item button {
    padding: 5px 8px;
  }
}

.indicator-page .progres-box .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .indicator-page .progres-box .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.indicator-page .progres-box .top-info-progress .left-title:hover {
  cursor: pointer;
}

.indicator-page .progres-box .top-info-progress .right-info {
  font-size: 25px;
}

.indicator-page .progres-box .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicator-page .progres-box .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.indicator-page .progres-box .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.indicator-page .progres-box .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indicator-page .progres-box .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.indicator-page .progres-box .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.indicator-page .under-progress-box-info {
  display: none;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
}

.indicator-page .under-progress-box-info .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .indicator-page .under-progress-box-info .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.indicator-page .under-progress-box-info .top-info-progress .left-title:hover {
  cursor: pointer;
}

.indicator-page .under-progress-box-info .top-info-progress .right-info {
  font-size: 25px;
}

.indicator-page .under-progress-box-info .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicator-page .under-progress-box-info .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.indicator-page .under-progress-box-info .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.indicator-page .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indicator-page .under-progress-box-info .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.indicator-page .under-progress-box-info .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.indicator-page .indicator-page-item {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media only screen and (max-width: 768px) {
  .indicator-page .indicator-page-item {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .indicator-page .indicator-col .indicator-col {
    padding: 0 !important;
  }
}

.indicator-second .indicator-card-carousel .test-wrap-svg-box {
  position: relative !important;
}

.indicator-second .indicator-card-carousel .test-wrap-svg-box .text {
  font-size: 35px !important;
}

.indicator-second .indicator-card-carousel .test-wrap-svg-box .test-circle-box {
  position: absolute;
}

.indicator-second .indicator-card-carousel .test-wrap-svg-box .test-svg-box {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: conic-gradient(#f6236f 0%, #ffd231 33.33%, #59dca5 68.23%, #00a4ac 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.indicator-second .indicator-card-carousel .test-wrap-svg-box .test-svg-box .test-svg-box-inner {
  width: 110px;
  height: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323e71;
  border-radius: 50%;
}

.indicator-second .indicator-card-carousel .progress-ring .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.indicator-second .indicator-card-carousel .progress-ring .progress-ring-dash {
  stroke-dasharray: 2 50;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-92deg);
          transform: rotate(-92deg);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.indicator-second .indicator-card-carousel .slide-item {
  height: 400px;
  max-width: 290px;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
}

.indicator-second .indicator-card-carousel .slide-item p {
  color: rgba(255, 255, 255, 0.6);
}

.indicator-second .indicator-card-carousel .slide-item .circle-progress-item-number {
  position: relative;
}

.indicator-second .indicator-card-carousel .slide-item .circle-progress-item-number .number {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fed960;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

.indicator-second .top-sub-header .right-item button {
  border: 2px solid grey;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
}

.indicator-second .top-sub-header .right-item button i {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.indicator-second .top-sub-header .right-item button:hover {
  cursor: inherit;
}

@media screen and (max-width: 768px) {
  .indicator-second .top-sub-header .right-item button {
    padding: 5px 8px;
  }
}

.indicator-second .progres-box .top-info-progress .left-title h4 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .indicator-second .progres-box .top-info-progress .left-title h4 {
    font-size: 16px;
  }
}

.indicator-second .progres-box .top-info-progress .left-title:hover {
  cursor: pointer;
}

.indicator-second .progres-box .top-info-progress .right-info {
  font-size: 25px;
}

.indicator-second .progres-box .top-info-progress .right-info .with-border {
  border: 3px solid #48b7c7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicator-second .progres-box .progress-line-wrap {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.indicator-second .progres-box .progress-line-wrap .progress-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.62%, #f6236f), color-stop(33.13%, #ffd231), color-stop(68.45%, #59dca5), color-stop(100.62%, #00a4ac));
  background: linear-gradient(90deg, #f6236f -0.62%, #ffd231 33.13%, #59dca5 68.45%, #00a4ac 100.62%);
  content: " ";
  height: inherit;
  position: relative;
}

.indicator-second .progres-box .progress-line-wrap .progress-line .stick-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indicator-second .progres-box .progress-line-wrap .progress-line .stick-wrap .stick {
  height: 30px;
  width: 3px;
  background-color: #454e83;
}

.indicator-second .progres-box .progress-line-wrap .progress-line .progress-line-inner {
  background-color: #454e83;
  height: 30px;
  width: 25px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.indicator-second .indicator-two-under-info {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.indicator-slider h6 {
  color: #48b7c7 !important;
}

.under-nav {
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 99999;
  padding-top: 10px;
}

.under-nav p {
  font-size: 14px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  position: absolute;
  -webkit-animation-name: titleText;
          animation-name: titleText;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  left: 100%;
}

@-webkit-keyframes titleText {
  from {
    left: 100%;
  }
  to {
    left: -20%;
  }
}

@keyframes titleText {
  from {
    left: 100%;
  }
  to {
    left: -20%;
  }
}

.modal-dialog {
  max-width: 600px !important;
  margin: 1.75rem auto;
}
/*# sourceMappingURL=style.css.map */