body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-container {
  width: 100%;
  padding: 0 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 768px) {
  .custom-container {
    padding: 0 24px;
  }
}

.header-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/8fec938e83297ba755e74de77ca49f25.jfif");
}

.header-bg-image .header-bg-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(298.43deg, rgba(43, 79, 169, 0.7) 0%, rgba(17, 149, 141, 0.8) 100%);
}

.navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.navbar .navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-wrap .left-logo a {
  text-decoration: none;
}

.navbar .navbar-wrap .right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar .navbar-wrap .right-menu li {
  padding: 0 20px;
}

.navbar .navbar-wrap .right-menu li a {
  font-style: normal;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar .navbar-wrap .right-menu li a:hover {
  color: #48B7C7;
}

.navbar .navbar-wrap .right-menu li button {
  outline: none;
  background-color: transparent;
  border: none;
  border: 2px solid #48B7C7;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar .navbar-wrap .right-menu li button:hover {
  color: #48B7C7;
}

@media all and (max-width: 920px) {
  .navbar .navbar-wrap {
    background-color: red !important;
  }
}

.navbar {
  padding: 10px 0;
  background-color: transparent;
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggler {
  border: 2px solid #48B7C7;
}

.navbar .navbar-toggler i {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.navbar .nav-link {
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 0 15px !important;
}

.navbar .nav-link:hover {
  color: #48B7C7 !important;
}

@media all and (max-width: 900px) {
  .navbar .nav-link {
    margin: 0 10px !important;
  }
}

.navbar .with-border {
  border: 2px solid #48B7C7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 10px !important;
}

@media all and (max-width: 768px) {
  .navbar .with-border {
    margin: 10px 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */