body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #232c61;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.custom-container {
  width: 100%;
  padding: 0 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 768px) {
  .custom-container {
    padding: 0 24px;
  }
}

.header-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/8fec938e83297ba755e74de77ca49f25.jfif");
}

.header-bg-image .header-bg-gradient {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(298.43deg, rgba(43, 79, 169, 0.7) 0%, rgba(17, 149, 141, 0.8) 100%);
}

.header-bg-image .header-bg-gradient .mix-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.02)), to(#232c61));
  background: linear-gradient(rgba(0, 0, 0, 0.02), #232c61);
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbar {
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 25px 64px !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .navbar {
    padding: 15px 24px !important;
  }
}

.navbar {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggler {
  border: 2px solid #48b7c7;
}

.navbar .navbar-toggler i {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.navbar .nav-link {
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 0 !important;
  margin-left: 25px;
}

.navbar .nav-link:hover {
  color: #48b7c7 !important;
}

@media all and (max-width: 900px) {
  .navbar .nav-link {
    margin: 10px !important;
  }
}

.navbar .with-border {
  border: 2px solid #48b7c7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
}

.navbar .with-border:hover {
  color: #48b7c7 !important;
}

.home-bg-repeat {
  background-image: url("../assets/images/bg-repeat.jpg");
}

footer {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 25px 0;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
}

.home-page-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
}

.home-page-header h3 {
  color: white;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

.home-page-header h5 {
  text-align: center;
  margin: 24px 0px;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.home-page-section-one .inner-item {
  height: 288px;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page-section-one .inner-item .under-info p:nth-child(1) {
  font-size: 16px;
}

.home-page-section-one .inner-item .under-info p:nth-child(2) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.home-page-section-map {
  margin: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .home-page-section-map {
    margin: 50px 0;
  }
}

#qoraqalpoq:hover,
#xorazim:hover,
#sirdayro:hover,
#andijon:hover,
#navoi:hover,
#samarqand:hover,
#namangan:hover,
#buxoro:hover,
#surxondaryo:hover,
#toshkent-sh:hover,
#jizzax:hover,
#toshkent:hover,
#qashqadaryo:hover {
  cursor: pointer;
}

.top-sub-header .left-item h3 {
  color: white;
  font-size: 32px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media all and (max-width: 768px) {
  .top-sub-header .left-item h3 {
    font-size: 18px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.top-sub-header .right-item a {
  text-decoration: none;
  border: 2px solid #48b7c7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  padding: 10px 12px;
  color: white;
  text-transform: uppercase;
}

.top-sub-header .right-item a:hover {
  color: #48b7c7 !important;
}

.home-page-section-last .under-sub-info .inner-item {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page-section-last .under-sub-info .inner-item .left-info {
  width: 30%;
  height: inherit;
}

.home-page-section-last .under-sub-info .inner-item .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item .left-info {
    width: 100%;
    height: 50%;
  }
}

.home-page-section-last .under-sub-info .inner-item .right-info {
  width: 50%;
}

.home-page-section-last .under-sub-info .inner-item .right-info p:nth-child(2) {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item .right-info {
    width: 100%;
    height: 50%;
  }
}

@media all and (max-width: 1200px) {
  .home-page-section-last .under-sub-info .inner-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.other-page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  z-index: -1;
  background-image: url("../assets/images/bg-repeat.jpg");
}

.news-page-body {
  margin: 100px 0;
}

.news-page-body .under-sub-info .inner-item {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-page-body .under-sub-info .inner-item .left-info {
  width: 30%;
  height: inherit;
}

.news-page-body .under-sub-info .inner-item .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item .left-info {
    width: 100%;
    height: 50%;
  }
}

.news-page-body .under-sub-info .inner-item .right-info {
  width: 50%;
}

.news-page-body .under-sub-info .inner-item .right-info p:nth-child(2) {
  color: rgba(255, 255, 255, 0.6);
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item .right-info {
    width: 100%;
    height: 50%;
  }
}

@media all and (max-width: 1200px) {
  .news-page-body .under-sub-info .inner-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-page-body .under-pagination-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-page-body .under-pagination-wrap .page-link {
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  border: 2px solid transparent;
}

.news-page-body .under-pagination-wrap .page-link:hover {
  color: #48b7c7;
  border: 2px solid #48b7c7;
}

.news-info-page-body {
  margin: 100px 0;
}

.news-info-page-body .top-back-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-info-page-body .top-back-btn-wrap a {
  color: #1a1d33;
  font-weight: bold;
  font-size: 16px;
  background-color: #48b7c7;
  padding: 10px 20px;
}

.news-info-page-body .under-info {
  overflow: hidden;
  /* BG/gradient */
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 16px;
}

.news-info-page-body .under-info img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-info-page-body .under-info .inner-news-info {
  padding: 35px;
}

.news-info-page-body .under-info .inner-news-info .news-title h3 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.news-info-page-body .under-info .inner-news-info .news-body p {
  color: rgba(255, 255, 255, 0.8);
}

.news-info-page-body .under-info .inner-news-info .news-footer p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.news-info-page-body .under-info .inner-news-info .news-footer p a {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .news-info-page-body .under-info .inner-news-info {
    padding: 15px;
  }
}

.methodology-page {
  margin: 100px 0;
}

.methodology-page .top-sub-header p {
  color: rgba(255, 255, 255, 0.6);
}

.methodology-page .method-content h3 {
  color: #48b7c7;
}

.methodology-page .method-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /* BG/gradient */
  text-decoration: none;
  background: linear-gradient(43.39deg, #414a7c 0%, rgba(67, 78, 141, 0.2) 100%);
  /* blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  padding: 20px;
}

.methodology-page .method-content a p {
  color: white;
}
/*# sourceMappingURL=style.css.map */